.body_login {
    width: 80%;
    max-width: 1440px;
    margin: auto;
    color: #484848;
}

.body_login h2 {
    font-family: Hind-Bold;
    color: #484848;
    text-align: center;
    margin: 2em 0 4em 0;
}

.body_login div {
    margin-bottom: 4em;
}

.body_login label {
    display: block;
    font-size: 140%;
}

.body_login input {
    box-shadow: 4px 4px 12px rgba(0.28, 0.28, 0.28, 0.25);
    width: 100%;
    max-width: 24em;
    border: none;
    font-size: 120%;
    color: #484848;
    padding: 0.6em;
    margin-top: 0.6em;
    box-sizing: border-box;
}

.body_login .center_item {
    text-align: center;
}

.body_login .create_account {
    margin-top: 2em;
    margin-bottom: 2em;
}