.footer {
    background-color: #484848;
    padding: 0.8em 0;
}

.footer .footer_textos {
    max-width: 1440px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 100%;
}

@media only screen and (max-width: 480px){
    .footer .footer_textos {
        display: block;
    }
}

