body {
  margin: 0;
  font-family: Hind-regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    font-family: Hind-regular, Consolas;
}

@font-face {
  font-family: 'Hind-Regular';
  src: local('Hind-Regular'), url(./fonts/Hind/Hind-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind-Light';
  src: local('Hind-Light'), url(./fonts/Hind/Hind-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind-Bold';
  src: local('Hind-Bold'), url(./fonts/Hind/Hind-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind-Medium';
  src: local('Hind-Medium'), url(./fonts/Hind/Hind-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind-SemiBold';
  src: local('Hind-SemiBold'), url(./fonts/Hind/Hind-SemiBold.ttf) format('truetype');
}