.header {
    background-color: #484848;
    width: 100%;
}

.header .header_text {
    color: #FFF;
    font-size: 7vw;
    text-align: center;
    max-width: 1440px;
    margin: auto;
    padding: 1em 0 1em 0;
}